* {
    box-sizing: border-box;
    /* took font style from the w3school website https://www.w3schools.com/css/tryit.asp?filename=trycss_font_comicsansms */
    font-family: 'Comic Sans MS', cursive;
    padding: 0px;
    margin: 0px;
  }

h1 {
    width: 100%;
    text-align: center;
    /* font-size: 1.75em; */
}

h2 {
    width: 30%;
    text-align: center;
    padding: 5px 0px 5px 0px;
    border: 1px solid black;
    position: absolute;
    left: 70%;
    /* font-size: 1.25em; */
}


article {
    border: 1px solid black;
    background-color: #dbdada;
    position: relative;
}

p {
    text-align: justify;
    margin: 50px 3% 3% 3%;
}

#chicken {
    background-color: rgb(250, 170, 170);
}

#beef {
    background-color: #ad0808;
    color: #ffffff;
}

#sushi {
    background-color: #f6ebb2;
}

/* for Desktop Users */

@media (min-width: 992px) {

    #topheading {
        margin: 40px;
    }

    #col1 {
        width: 33.33%;
        float: left;
    }

    #cont1 {
        width: 88%;
        margin-left: 9%;
        margin-right: 3%;
    }


    #col2 {
        width: 33.33%;
        float: left;
    }

    #cont2 {
        width: 88%;
        margin-left: auto;
        margin-right: auto;
    }


    #col3 {
        width: 33.33%;
        float: left;
    }

    #cont3 {
        width: 88%;
        margin-left: 3%;
        margin-right: 9%;
    }


}

/* For Tablet users */

@media (min-width: 768px) and (max-width: 991px) {

    #topheading {
        margin: 25px;
    }

    #col1 {
        width: 50%;
        float: left;
    }

    #cont1 {
        width: 94%;
        margin-left: 4%;
        margin-right: 2%;
    }


    #col2 {
        width: 50%;
        float: left;
    }

    #cont2 {
        width: 94%;
        margin-left: 2%;
        margin-right: 4%
    }


    #col3 {
        width: 100%;
        float: left;
        margin-top: 18px;
    }

    #cont3 {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }


}

/* For mobile Users */
@media (max-width: 767px) {

    #topheading {
        margin: 10px;
    }

    #col1 {
        /* width: 100%; */
        /* float: left; */
        margin-bottom: 20px;
    }

    #cont1 {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }


    #col2 {
        /* width: 100%; */
        /* float: left; */
        margin-bottom: 20px;
    }

    #cont2 {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }


    #col3 {
        /* width: 100%; */
        /* float: left; */
        margin-bottom: 10px;
    }

    #cont3 {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }


}